
<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <style type="text/css">
        <!--
        span.cls_004 {
            font-family: Times,serif;
            font-size: 7.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none;
        }

        div.cls_004 {
            font-family: Times,serif;
            font-size: 7.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none;
        }

        span.cls_002 {
            font-family: Times,serif;
            font-size: 21.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none;
        }

        div.cls_002 {
            font-family: Times,serif;
            font-size: 21.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none;
        }

        span.cls_005 {
            font-family: Times,serif;
            font-size: 26.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none;
        }

        div.cls_005 {
            font-family: Times,serif;
            font-size: 26.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none;
        }

        span.cls_006 {
            font-family: Times,serif;
            font-size: 13.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none;
        }

        div.cls_006 {
            font-family: Times,serif;
            font-size: 13.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none;
        }

        span.cls_003 {
            font-family: Times,serif;
            font-size: 16.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none;
        }

        div.cls_003 {
            font-family: Times,serif;
            font-size: 16.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none;
        }

        span.cls_007 {
            font-family: Times,serif;
            font-size: 17.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none;
        }

        div.cls_007 {
            font-family: Times,serif;
            font-size: 17.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none;
        }

        span.cls_012 {
            font-family: Times,serif;
            font-size: 124.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
        }

        div.cls_012 {
            font-family: Times,serif;
            font-size: 124.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
        }

        span.cls_008 {
            font-family: Times,serif;
            font-size: 14.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none;
        }

        div.cls_008 {
            font-family: Times,serif;
            font-size: 14.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none;
        }

        span.cls_009 {
            font-family: Times,serif;
            font-size: 26.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
        }

        div.cls_009 {
            font-family: Times,serif;
            font-size: 26.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
        }

        span.cls_010 {
            font-family: Times,serif;
            font-size: 31.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none;
        }

        div.cls_010 {
            font-family: Times,serif;
            font-size: 31.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none;
        }

        span.cls_011 {
            font-family: Times,serif;
            font-size: 2.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
        }

        div.cls_011 {
            font-family: Times,serif;
            font-size: 2.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
        }
        -->
    </style>
    <script type="text/javascript" src="wz_jsgraphics.js"></script>
</head>
<body>
    <div style="position:absolute;left:50%;margin-left:-480px;top:0px;width:960px;height:1280px;border-style:outset;overflow:hidden">
        <div style="position:absolute;left:244.80px;top:97.12px" class="cls_005"><span class="cls_005">SRUJANI FORM</span><span class="cls_002">  O</span></div>
        <div style="position:absolute;left:666.24px;top:169.28px" class="cls_003"><span class="cls_003">Date</span></div>
        <div style="position:absolute;left:113.76px;top:167.84px" class="cls_002"><span class="cls_002"></span><span class="cls_003"><sup>Suggestion No.</sup></span></div>
        <div style="position:absolute;left:636.96px;top:202.12px" class="cls_007"><span class="cls_007">Suggestor Details</span></div>
        <div style="position:absolute;left:947.76px;top:119.84px" class="cls_012"><span class="cls_012">1</span></div>
        <div style="position:absolute;left:123.12px;top:242.96px" class="cls_003"><span class="cls_003">Name</span></div>
        <div style="position:absolute;left:695.52px;top:239.84px" class="cls_003"><span class="cls_003">Pl. No.</span></div>
        <div style="position:absolute;left:180.96px;top:273.68px" class="cls_003"><span class="cls_003">Designation</span></div>
        <div style="position:absolute;left:413.04px;top:276.32px" class="cls_003"><span class="cls_003">Department</span></div>
        <div style="position:absolute;left:667.92px;top:275.60px" class="cls_003"><span class="cls_003">Section</span></div>
        <div style="position:absolute;left:801.12px;top:276.56px" class="cls_003"><span class="cls_003">Scale Code</span></div>
        <div style="position:absolute;left:485.28px;top:345.00px" class="cls_002"><span class="cls_002"></span>Suggestion Details<span class="cls_007"></span></div>
        <div style="position:absolute;left:216.72px;top:382.68px" class="cls_002"><span class="cls_002">Subject (IN CAPITAL LETTERS)</span></div>
        <div style="position:absolute;left:121.44px;top:488.28px" class="cls_002"><span class="cls_002">Existing</span><span class="cls_008"></span></div>
        <div style="position:absolute;left:262.08px;top:627.28px" class="cls_008"><span class="cls_008">Proposed</span></div>
        <div style="position:absolute;left:210.72px;top:842.80px" class="cls_006"><span class="cls_006">Benefits</span><span class="cls_008"></span></div>
        <div style="position:absolute;left:167.28px;top:972.16px" class="cls_008"><span class="cls_008">Signature of </span><span class="cls_006">the Suggestor</span></div>
        <div style="position:absolute;left:720.24px;top:973.12px" class="cls_006"><span class="cls_006">Ph_ </span><span class="cls_008">No.</span></div>
        <div style="position:absolute;left:147.84px;top:1006.16px" class="cls_003"><span class="cls_003">*Attach Sketch I </span><span class="cls_008">Drawing wherever necessary and use plain </span><span class="cls_003">paper, if additional space is </span><span class="cls_008">required.</span></div>
        <div style="position:absolute;left:133.92px;top:1080.04px" class="cls_003"><span class="cls_003">Suggn. </span><span class="cls_007">No.</span></div>
        <div style="position:absolute;left:653.04px;top:1081.04px" class="cls_003"><span class="cls_003">Date</span></div>
        <div style="position:absolute;left:133.68px;top:1114.64px" class="cls_003"><span class="cls_003">Subject</span></div>
        <div style="position:absolute;left:140.40px;top:1141.60px" class="cls_011"><span class="cls_011">4=1</span></div>
        <div style="position:absolute;left:134.40px;top:1146.80px" class="cls_003"><span class="cls_003">Name</span></div>
        <div style="position:absolute;left:652.32px;top:1145.08px" class="cls_007"><span class="cls_007">Ph. </span><span class="cls_003">No.</span></div>
        <div style="position:absolute;left:135.12px;top:1178.72px" class="cls_003"><span class="cls_003">Design.</span></div>
        <div style="position:absolute;left:652.08px;top:1178.24px" class="cls_003"><span class="cls_003">Deptt.</span></div>
    </div>

</body>
</html>


